img {
    zoom: 12.5%; 
}

.videoMp4:focus {
    outline: none;
    outline-color: none;
    outline-width: 0px;
}
body {
    background: linear-gradient(-250deg,red,blue);
}
#cakeOne {
    width: 50px;
    height: 50px;
    background: black;
    position: relative;
    border:0px solid black;
    display: inline-block;

    cursor: pointer;
}
h1 {
    font-family: 'MonteCarlo', cursive;
}
#cakeTwo {
    width: 50px;
    height: 50px;

    display: inline-block;
    background: black;
    right: 4px;
    border: 0px solid black;
    position: relative;
    cursor: pointer;
}